body { font: 12px Arial;}

path {
    stroke: #53b3e0;
    stroke-width: 1.5;
    fill: none;
    z-index: 10;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 1px;
    border-style: solid;;
    border-color: lightblue;
    border-width: 1;
    border-radius: 0px;
    pointer-events: none;
}

circle {

  fill: white;
  stroke: #53b3e0;
  stroke-width: 2;
}
